*{
  background-color: #eee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#xRomana{
  border: 5px inset #999;
  border-radius: 4px;
}
#xRomana input {
	background: linear-gradient(to right, transparent, #999); border-radius: 5px; display: flex; flex-shrink: 3; outline: none;
	border: none; border-bottom: 2px solid #999; width: 300px;
}

#xOficina{
  border: 5px inset #999;
  border-radius: 4px;
}
